# Strings

    A string is a sequence of characters.

    Computers do not deal with characters, they deal with numbers (binary). Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0's and 1's.

    This conversion of character to a number is called encoding, and the reverse process is decoding. ASCII and Unicode are some of the popular encoding used.

    In Python, string is a sequence of Unicode character.

For more details about unicode 

https://docs.python.org/3.3/howto/unicode.html

# How to create a string?

Strings can be created by enclosing characters inside a single quote or double quotes. 

Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings.

In [1]:
myString = 'Hello'

print(myString)


myString = "Hello"
print(myString)


myString = '''Hello'''
print(myString)

Hello
Hello
Hello

# How to access characters in a string?

We can access individual characters using indexing and a range of characters using slicing.

Index starts from 0. 

Trying to access a character out of index range will raise an IndexError. 

The index must be an integer. We can't use float or other types, this will result into TypeError.

Python allows negative indexing for its sequences.

In [2]:
myString = "Hello"

#print first Character
print(myString[0])

#print last character using negative indexing
print(myString[-1])

#slicing 2nd to 5th character
print(myString[2:5])

H
o
llo

If we try to access index out of the range or use decimal number, we will get errors.

In [3]:
print(myString[15])

IndexError: string index out of range

In [4]:
print(myString[1.5])

TypeError: string indices must be integers

In [5]:
# declare a string

text="I Love Python"

In [6]:
#get only the first element
text[0]

'I'

In [7]:
#display all the element of the string
text[:]

'I Love Python'

In [8]:
#display all the elements using len()
# len()functions gives length of the variable

text[:len(text)]

'I Love Python'

In [9]:
#display the first three letters alone by specifying the start and the end
#indexing starts form 0 in python and ends at n-1

text[0:6]

'I Love'

In [10]:
#display all elements from third character till the last
text[2:]

'Love Python'

In [11]:
#display all the elements from eighth character till fourteenth charcter
text[7:13]

'Python'

In [12]:
# display all the elements from the second letter till the second last
text[2:-1]

'Love Pytho'

In [13]:
#reverse the string using indexing
text[::-1]

'nohtyP evoL I'

In [14]:
# reverse the string and display  the third last letter
text[::-1][-3]

'L'

# How to change or delete a string ?

Strings are immutable. This means that elements of a string cannot be changed once it has been assigned. 

We can simply reassign different strings to the same name.

In [15]:
myString = "Hello"
myString[4] = 's' # strings are immutable

TypeError: 'str' object does not support item assignment

We cannot delete or remove characters from a string. But deleting the string entirely is possible using the keyword       del.

In [16]:
del myString # delete complete string

In [17]:
print(myString)

NameError: name 'myString' is not defined

# String Operations

# Concatenation

Joining of two or more strings into a single one is called concatenation.

The + operator does this in Python. Simply writing two string literals together also concatenates them.

The * operator can be used to repeat the string for a given number of times.

In [18]:
s1 = "Hello "
s2 = "Akshay"

#concatenation of 2 strings
print(s1 + s2)

#repeat string n times
print(s1 * 3)

Hello Akshay
Hello Hello Hello

# Iterating Through String

In [19]:
count = 0
for l in "Hello World":
    if l == 'o':
        count += 1
print(count, ' letters found')

2  letters found

# String Membership Test

In [20]:
print('l' in 'Hello World') #in operator to test membership

True

In [21]:
print('or' in 'Hello World')

True

# String Methods

    Some of the commonly used methods are lower(), upper(), join(), split(), find(), replace() etc

In [22]:
"Hello".lower()

'hello'

In [23]:
"Hello".upper()

'HELLO'

In [24]:
"i love python".title()

'I Love Python'

In [25]:
"This will split all words in a list".split()

['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list']

In [26]:
' '.join(['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list'])

'This will split all words in a list'

In [27]:
#concatenate eadch element of date with sep

date="09","09","2000"
sep="-"
sep.join(date)

'09-09-2000'

In [28]:
"Good Morning".find("Mo")

5

In [29]:
s1 = "Bad morning"

s2 = s1.replace("Bad", "Good")

print(s1)
print(s2)

Bad morning
Good morning

In [30]:
#print the string by removing leading "*" character

text="***Basics Of Python"
text.strip("*")

'Basics Of Python'

In [31]:
#print the string by removing trailing "*" character

text="Basics Of Python****"
text.strip("*")

'Basics Of Python'

In [32]:
#print the string by removing trailing and leading "*" character

text="****Basics*Of*Python****"
text.strip("*")

'Basics*Of*Python'

# Python Program to Check where a String is Palindrome or not ?

In [33]:
myStr = "Madam"

#convert entire string to either lower or upper
myStr = myStr.lower()

#reverse string
revStr = reversed(myStr)


#check if the string is equal to its reverse
if list(myStr) == list(revStr):
    print("Given String is palindrome")
else:
    print("Given String is not palindrome")

Given String is palindrome

# Python Program to Sort Words in Alphabetic Order?

In [34]:
myStr = "python Program to Sort words in Alphabetic Order"

#breakdown the string into list of words
words = myStr.split()

#sort the list
words.sort()

#print Sorted words are
for word in words:
    print(word)

Alphabetic
Order
Program
Sort
in
python
to
words

In [35]:
import calendar

In [36]:
cal=calendar.month(2022,9)
print(cal)

   September 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

In [37]:
calendar.isleap(2022)

False

In [38]:
# dir(calendar)